.Search .btn-outline-secondary {
  color: var(--primary-color);
  border-style: solid;
  border-color: var(--primary-color);
}

.Search .btn-outline-secondary:hover {
  background: #dd9e16;
  color: #bb311d;
}

.Search h1 {
  color: var(--primary-color);
  margin: var(--spacing);
  line-height: 20px;
  font-weight: 500;
}


