.Search .btn-outline-secondary {
  color: var(--primary-color);
  border-style: solid;
  border-color: var(--primary-color);
}

.Search .btn-outline-secondary:hover {
  background: #dd9e16;
  color: #bb311d;
}
