:root {
  --primary-color: #feff40;
  --spacing: 29px auto;
}

body {
  font-family: "Poppins", sans-serif;
text-align: center;
  background: linear-gradient(
    90deg,
    rgb(221, 158, 22) 0%,
    rgb(187, 49, 29) 100%
  );
}

.App .Container {
  background: radial-gradient(rgb(221, 158, 22) 70%, rgb(187, 49, 29) 100%);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  width: 500px;
  margin: 50px auto;
  padding: 50px;
}

.App .Git-link {
  color: var(--primary-color);
}
